---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Snugglegum — Not just a chew. <br>Built to deliver something more.</h1>
			<p>
				Snugglegum™ isn’t a gum — it’s a <i>liquid-filled functional chew</i> you can swallow. Loaded with <span class="hervorheben">Maca</span> and <span class="hervorheben">Zinc</span>, it’s made to support your natural rhythm. For nights you won’t forget.
			</p>
		</main>
		<Footer />
	</body>
</html>
